* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Artttnorm";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222 !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Artttnorm";
  src: local("Artttnorm"),
  url("./fonts/Art-ttnorm-Regular.otf") format("opentype");
  font-weight: normal;
}
